.inputContainer {
  flex: 0;
  padding: 20px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 0fr;
  /* flex-direction: row; */
  gap: 20px;
  box-shadow: 0px 0px 20px black;
  z-index: 5;
  box-sizing: content-box;
  text-transform: uppercase;
}

.inputContainer * {
  font-size: var(--font-size-md);
}

.textarea {
  line-height: calc(var(--row-height) - 3px - 20px);
  background: white;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  max-height: 150px;
}
.textarea textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}
.textarea * {
  font-size: var(--font-size-md);
}

.inputContainer textarea:focus {
  outline: none;
}

.marquee {
  flex: 1;
  text-align: center;
}
